# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\java_module2\case2-NgKDuy\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
